*.o
*.lo
*.la
.libs
*~
*.gc??
lcov.info
coverage
gmon.out
callgrind.out.*
*.swp
.dirstamp
check-data-install.stamp
stamp-h?
*.log
*.tors
*.trs
*.tar.gz
*.deb
*.rpm
*.tmp
*.db

.deps
/config.h
/config.log
/config.status
/Makefile.in
/config.h.in
/Makefile
/configure
/libtool
/autom4te.cache
/aclocal.m4
build/*

/fuzz/out*
/t/cfgtest
